.App {
  height: 100em;
  background-color: #6688CC;
}

#intro {
  height: 35%;
  display: flex;
	flex-wrap: wrap;
  flex-direction: row;
}

#text {
  margin-top: 3em;
  margin-left: 3em;
  margin-right: 1em;
  font-size: 45px;
  word-wrap: break-word;
}

.left-intro {
  padding-left: 2em;
  padding-right: 0.1em;
  padding-top : 0.5em;
  background-image: linear-gradient(to right, #6688CC, white);
  width: 50%;
}

.right-intro {
  /* background-color: seagreen; */
  background-image: url("homepage-intro.jpg");
  background-size: 100% 100%;
  width : 50%;
}

#hot-content {
  background-color: whitesmoke;
  height: 37%;
  width: 100%;
  padding: 40px;
}

#slick-item {
  height: 300px;
  width: 500px;
}

.slick-next {
  background-color: black !important;
  height: 10% !important;
  width: 1.4% !important; 
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  opacity: 50%;
}

.slick-prev {
  background-color: black !important;
  height: 10% !important;
  width: 1.4% !important; 
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  opacity: 50%;
}

#in-trend-head {
  margin-left: 40px;
  font-weight: bold;
}

svg {
  display: block;
}

#slick-item-name {
  text-align: center !important;
  font-size: 25px !important;
}

#wrap-item {
  cursor: pointer;
}