  .form-body {
    font-size: 20px; 
    color: #182978;
    margin-top: 50px;
  }

  .form-body label {
    margin: 10px;
  }

  .form-body input {
    margin: 10px;
  }

  .button-body {
    font-size: 25px; 
  }

  #button-body button {
    background-color:#182978;
    border-radius:20px;
    cursor:pointer;
    color:#ffffff;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    margin: 10px;
  }

  #button-body button:hover {
    background-color:#182978;
  }

  #button-body button:active {
    position:relative;
    top:1px;
  }

  