  .form-body {
    font-size: 20px; 
    color: #182978;
    margin-top: 50px;
  }

  .form-body label {
    margin: 10px;
  }

  .form-body input {
    margin: 10px;
  }

  .button-body {
    font-size: 25px; 
  }

  #button-body button {

    cursor:pointer;
  }

  #button-body button:hover {
    background-color:#182978;
  }

  #button-body button:active {
    position:relative;
    top:1px;
  }

  