.description {
    margin: 2% 10%;
    font-family: B612;
    font-style: normal;
    font-weight: normal;
}

.topic {
    font-size: 1.5rem;
    font-family: B612;
    font-style: normal;
    font-weight: normal;
}