#workshopPic {
    object-fit: none;
    width: 18px;
    height: 18px;
    border-radius: 16em 0em 0em 16em;
    background-color: black;
    
}

#ticket {
    display : flex;
    flex-direction: row;
    align-items: stretch;
    width: 82%;
    height: 36%;
    margin : 10%;
    background-color: #E48D26 ;    
    border-radius: 16em 16em 45em 16em;
    
}
#workshopName {
    font-size: 10px ;
}

#text-box{
    display: flex;
    flex-direction: column;
    margin: 10px;
} 

#holderName{
    align-items: end;
}
.desc {
    font-size: 7px;
}
#qrCode {
    width: 30px;
    height: 30px;
    background-color: blueviolet;

}