#ticket {
    display : flex;
    flex-direction: row;
    align-items: stretch;
    width: 1050px;
    height: 450px;
    background-color: #182978;    
    border-radius: 80px 0px 225px 80px;
    
}

#workshopPic {
    object-fit: none;
    width: 45%;
    height: 100%;
    border-radius: 18% 0% 0% 18%;
    background-color:#6688CC;
    
}

#img-ticket {
    border-radius: 18% 0% 0% 18%;
    padding: 3%;
    margin: 0 0 auto;
    height: 100%;
    width: 100%;
}

#text-box{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width:40%;
    margin: 10px;
} 

#qrCode {
    margin: 30px;
    width : 15%;
}

#workshopName {
    height: 25%;
}
#workshopName h2 {
    color: whitesmoke;
    font-size: 45px ;
}

#holderName h3{
    color: white ;
    font-size: 30px;
}
#holderName {
    height: 10%;
}
.desc p{
    color : whitesmoke;
    font-size: 30px;
    margin:0px;
}
.desc {
    height: 65%;
}